@model IEnumerable<Database.Models.Songs.Playlist>

@{
    ViewData["Title"] = "Playlisty";
}

<h1>Playlisty</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="text-right">
            <a class="btn btn-success btn-sm " asp-action="Create">
                <img src="~/img/plus-2-16.png" alt="Vytvoriť novú kategóriu" class="img-in-button">
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-right">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/img/pencil-16.png" alt="Upraviť" class="img-in-button">
                    </a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/img/view-details-16.png" alt="Detaily" class="img-in-button">
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/img/trash-2-16.png" alt="Odstrániť" class="img-in-button">
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>