@model IEnumerable<Database.Models.Songs.Song>

@{
    ViewData["Title"] = "Piesne";
}

<h1>Piesne</h1>


<form asp-controller="Songs" asp-action="Index" method="get" class="form-inline">
    <div class="form-group mb-2 ">
        <input type="text" 
               name="SearchString" 
               placeholder="@Html.DisplayNameFor(model => model.Title)">
    </div>
    <div class="form-group mx-sm-2 mb-2">
        <input class="btn btn-primary btn-sm" type="submit" value="Filtrovať" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
                @* Názov *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
                @* Číslo *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongCategories)
                @* Kategórie *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
                @* Autor *@
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.LastModified) *@
            @*     $1$ Upravené #1# *@
            @* </th> *@
            <th class="text-right">
                <a class="btn btn-success btn-sm " asp-action="Create">
                    <img src="~/img/plus-16.png" alt="Vytvoriť novú pieseň">
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var song in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => song.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.Number)
            </td>
            <td style="width: min-content">
                <div>
                    @foreach (var songCategory in song.SongCategories)
                    {
                        <span class="badge badge-primary">
                            @songCategory.Category.Name
                        </span>
                    }    
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.Author)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => song.LastModifiedDateTimeLocal) *@
            @* </td> *@
            <td class="text-right">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@song.Id">
                        @* <i class="glyphicon glyphicon-pencil"></i> *@
                        <img src="~/img/pencil-16.png" alt="Upraviť" class="img-in-button">
                    </a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@song.Id">
                        @* <i class="glyphicon glyphicon-search"></i> *@
                        <img src="~/img/view-details-16.png" alt="Detaily" class="img-in-button">
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@song.Id">
                        @* <i class="glyphicon glyphicon-trash"></i> *@
                        <img src="~/img/trash-2-16.png" alt="Odstrániť" class="img-in-button">
                    </a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
