@model Database.Models.Songs.Song

@{
    ViewData["Title"] = "Detaily Piesne";
}

<h1>Detaily Piesne</h1>

<div>
    <h4></h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SongCategories)
        </dt>
        <dd class="col-sm-10">
            <h5>
                @foreach (var songCategory in Model.SongCategories)
                {
                    <span class="badge badge-primary">
                        @songCategory.Category.Name
                    </span>
                }
            </h5>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verses)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var verse in Model.Verses.OrderBy(verse => verse.SequenceNumber))
                {
@*                     <div class="card"> *@
@*                         <div class="card-header">@verse.Title</div> *@
@*                         <div class="card-body"> *@
@* *@
@*                             @verse.Text *@
@*                         </div> *@
@*                     </div> *@
                    <div>
                        <h6>@verse.Title</h6>
                        @verse.Text
                    </div>
                    <br/>
@*                     @Html.DisplayFor(model => verse.Text) *@
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDateTimeLocal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDateTimeLocal)
        </dd>
    </dl>
</div>
<div>
    @* <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@Model.Id"> *@
    @*         <img src="~/img/pencil-16.png" alt="Upravi큐" class="img-in-button"> *@
    @*     </a> *@
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info btn-sm">Upravi큐</a> |
    <a asp-action="Index">Sp채큐 do zoznamu</a>
</div>