@page
@model EKS_database_web.Pages.Songs

@{
    ViewData["Title"] = "All songs";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllSongs[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllSongs[0].Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllSongs[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllSongs[0].SongCategories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllSongs[0].SongPlaylists)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var song in Model.AllSongs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => song.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => song.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => song.Title)
                        </td>
                        <td>
                            @foreach (var songCategory in song.SongCategories)
                            {
                                <span class="badge badge-primary">
                                    @songCategory.Category.Name 
                                </span>
                            }
                        @* <button type="button" class="btn btn-secondary btn-sm rounded-pill">+</button> *@
                                                            @* Html.DisplayFor(modelItem => song.SongCategories) *@
                        </td>
                        <td>
                            @foreach (var songPlaylist in song.SongPlaylists)
                            {
                                <span class="badge badge-success">
                                    @songPlaylist.Playlist.Name 
                                </span>
                            }
                            @* @Html.DisplayFor(modelItem => song.SongPlaylists) *@
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@song.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@song.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@song.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</body>
</html>